/*---------------------------------------------------------------------------*/
*{									/* Default */
	padding:			0px;
	margin:				0px;
	list-style:			none;
	text-decoration:	none;
	font-family: 'Ubuntu', arial, sans;
}

/*---------------------------------------------------------------------------*/

body
{
	width:	100%;
	background: #000819;
	overflow: hidden;
}

.mainLogo
{
	margin-top: 10vh;
	margin-left: 25px;
	margin-bottom: 20px;
	font-size: 250%;
	font-weight:100;
	color: #fff;
	text-shadow: 0px 1px #046;
	font-variant: small-caps;
	letter-spacing: 25px;
	text-align: center;
	padding: 4%;

}

.loadingPlayers
{

}

.grayBox
{
	display: block;
	margin: 0 auto;
	width: 75%;
	height: 200px;
	background: #272D33;
}

	.grayBox h3
	{
		padding: 10px;
		text-align: center;
		color: #fff;
		font-variant: small-caps;
		letter-spacing: 2px;
	}

.players	/* UL */
{
	padding: 20px;
}

	.players li
	{
		display: inline-block;
		margin: 2%;
		background: #08a;
		color: #fff;
		padding: 10px 20px;
		border-radius: 2px;
	}

	.endGameMessage
	{
		display: none;
		font-family: tahoma !important;
		font-size: 200%;
		color: #fff;
		padding: 10px;
		text-align: center;
		line-height: 150%;
	}

.purpleButton
{
	display: block;
  margin: 20px auto;
  padding: 15px 30px;
  text-align: center;
  background: #643f93;
  color: #fff;
  border: none;
  border-bottom: 4px solid #501f73;
  border-radius: 3px;
  font-size:  125%;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
}

.whiteButton
{
	display: block;
  padding: 15px 30px;
  text-align: center;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size:  125%;
  cursor: pointer;
}

.bingoStatusMsgAdmin
{
		display: none;
		position: fixed;
		top: 15%;
		left: 5%;
		width: 90%;
		height: 70%;
		background: #272D33;
		border-radius: 10px;
		color: #fff;
		text-align: center;
		font-variant: small-caps;
		z-index: 100;
	}

	.bingoStatusMsgAdmin .bigText
	{
		margin: 8% 0 5% 0;
		font-size: 10vh;
	}
}
