
/* Small landscape  */
@media only screen and (min-width: 320px) and (orientation : landscape )
{
	/* Player | form */
	.mainLogo
	{
		margin-top: 0vw;
	}

	/* Player | ticket */

	.ticket
	{
		left: 5vw !important;
		top: 7%!important;
		width: 35vw !important;
		padding: 5px;
	}

		.ticket li
		{
			font-size: 100%!important;
			width: 7vw !important;
			height: 7vw!important;
			line-height: 7vw!important;
		}

		.ticket li.letter
		{
			font-size: 125% !important;
		}

	/* Player | buttons on gamescreen */
	#bingoButton
	{
		font-size: 125% !important;
		padding: 10px 20px !important;
		left: 55vw;
	}

	.signedIn
	{
	  margin: 25% auto;

	  display: none;
	  text-align: center;
	}

	/* Admin | Bingo balls */

	.ballsContainer
	{
	  margin-top: 15vw !important;
	}
		.ballsContainer .ball
		{
			width: 30vw;
			height: 30vw;
			line-height: 30vw;
			font-size: 500%;
		}

		.signedIn .bingoBalls li
	  {
	    font-size: 100%;
		}


}

/* Medium landscape  */
@media only screen and (min-width: 768px) and (orientation : landscape )
{
	/* Player | form */
	.mainLogo
	{
		margin-top: 10vw;
	}



		.ticket li.letter
		{
			font-size: 200% !important;
		}

	/* Player | buttons on gamescreen */
	#bingoButton
	{
		top: 10% !important;
		font-size: 200% !important;
		padding: 10px 30px !important;
	}

	@keyframes xxx
	{
			0%{}
			25%
			{
				top: 10.5%;
				box-shadow: 0 3px 0 hsl(300,50%,30%);
			}
			50%{}
			100%
			{
				box-shadow: 0 6px 0 hsl(300,50%,30%);
			}
	}

	/* Admin | Bingo balls */

	.ballsContainer
	{
	  margin-top: 10vw !important;
	}
		.ballsContainer .ball
		{
			width: 30vw;
			height: 30vw;
			line-height: 30vw;
			font-size: 500%;
		}


}

/* Large landscape  */
@media only screen and (min-width: 1024px) and (orientation : landscape )
{

	/* Player | form */
	.mainLogo
	{
		margin-top: 20vh;
	}

	/* Player | ticket */
	.ticket
	{
		left: 5vw !important;
		top: 10vh !important;
		width: 35vw !important;
	}

		.ticket li
		{
			font-size: 150%!important;
			width: 7vw !important;
			height: 7vw!important;
			line-height: 7vw!important;
		}

	/* Player | buttons on gamescreen */

	#bingoButton
	{
		font-size: 125% !important;
		padding: 10px 20px !important;
		left: 45vw;
	}

	/* Admin | Bingo balls */

	.ballsContainer
	{
	  margin-top: 15vw !important;
	}
		.ballsContainer .ball
		{
			width: 25vw !important;
			height: 25vw !important;;
			line-height: 25vw !important;
			font-size: 600%;
		}

		#stopBall
		{
		  position: absolute;
		  top: 82%;
		  right: 5%;
		}
}

/* Extra Large landscape  */
@media only screen and (min-width: 1366px) and (orientation : landscape )
{

	/* Player | form */
	.mainLogo
	{
		margin-top: 20vh;
	}

	/* Player | ticket */
	.ticket
	{
		left: 5vw !important;
		top: 10vh !important;
		width: 30vw !important;
	}

		.ticket li
		{
			font-size: 150%!important;
			width: 6vw !important;
			height: 6vw!important;
			line-height: 6vw!important;
		}
		.ticket li.letter
		{
			font-size: 250%!important;
		}

	/* Player | buttons on gamescreen */

	#bingoButton, #endGame
	{
		left: 40vw;
	}

	/* Admin | Bingo balls */

	.ballsContainer
	{
	  margin-top: 10vw !important;
	}
		.ballsContainer .ball
		{
			width: 20vw !important;
			height: 20vw !important;;
			line-height: 20vw !important;
			font-size: 600% !important;
		}

}

/*---------------------------------------------------------------------------*/

/* Small Portrait  */
@media only screen and (min-width: 320px) and (orientation : portrait )
{

	/* Player | ticket */
	.ticket
	{

		top: 15% !important;
		padding: 5px;
	}
		.ticket li
		{
			font-size: 150%!important;
		}

		.ticket li.letter
		{
			font-size: 125%;
		}

	/* Player | buttons on gamescreen */
	#bingoButton
	{
		font-size: 125% !important;
		padding: 10px 20px !important;
		top: 3%!important;
		right: 5%;
	}

	@keyframes xxx
	{
			0%
			{

			}
			25%
			{
				top: 3.5%;
				box-shadow: 0 3px 0 hsl(300,50%,30%);
			}
			50%
			{

			}
			100%
			{
				box-shadow: 0 6px 0 hsl(300,50%,30%);
			}
	}

	.bingoStatusMsg .bigText
	{
		margin: 8% 0 30% 0;
		font-size: 10vh;
	}

	/* Admin | Bingo balls */

	.ballsContainer
	{
	  margin-top: 30vh !important;
	}
		.ballsContainer .ball
		{
			width: 30vh;
			height: 30vh;
			line-height: 30vh;
			font-size: 400%;
		}


}

/* Medium Portrait  */
@media only screen and (min-width: 768px) and (orientation : portrait )
{
	/* Player | form */
	.mainLogo
	{
		margin-top: 10vw;
	}


	/* Player | buttons on gamescreen */
	#bingoButton
	{
		font-size: 200% !important;
		padding: 10px 30px !important;
		top: 7%!important;
		right: 15%;
	}

	@keyframes xxx
	{
			0%{}
			25%
			{
				top: 7.5%;
				box-shadow: 0 3px 0 hsl(300,50%,30%);
			}
			50%{}
			100%
			{
				box-shadow: 0 6px 0 hsl(300,50%,30%);
			}
	}

	/* Admin | Bingo balls */

	.ballsContainer
	{
	  margin-top: 10vw !important;
	}
		.ballsContainer .ball
		{
			width: 30vw;
			height: 30vw;
			line-height: 30vh;
			font-size: 500%;
		}
}

/* Large Portrait  */
@media only screen and (min-width: 1024px) and (orientation : portrait )
{

	/* Player | form */
	.mainLogo
	{
		margin-top: 20vh;
	}



	/* Player | ticket */
	.ticket
	{
		left: 5vw !important;
		top: 10vh !important;
		width: 40vw !important;
	}

		.ticket li
		{
			font-size: 200%!important;
			width: 8vw !important;
			height: 8vw!important;
			line-height: 8vw!important;
		}
		.ticket li.letter
		{
			font-size: 250%!important;
		}


	/* Admin | Bingo balls */

	.ballsContainer
	{
	  margin-top: 15vw !important;
	}
		.ballsContainer .ball
		{
			width: 25vw !important;
			height: 25vw !important;;
			line-height: 25vw !important;
			font-size: 600%;
		}

}

/* Extra Large Portrait  */
@media only screen and (min-width: 1366px) and (orientation : portrait )
{

	/* Player | form */
	.mainLogo
	{
		margin-top: 20vh;
	}

	/* Player | ticket */


	/* Player | buttons on gamescreen */

	#bingoButton, #endGame
	{

	}

	/* Admin | Bingo balls */

	.ballsContainer
	{
	  margin-top: 10vw !important;
	}
		.ballsContainer .ball
		{
			width: 20vw !important;
			height: 20vw !important;;
			line-height: 20vw !important;
			font-size: 600% !important;
		}

}
