.gameScreen{display: none;}

.ballsContainer
{
  margin-top: 40vh;
}

  .ballsContainer .ball
  {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    background: #61329e;
    width: 30vh;
    height: 30vh;
    line-height: 30vh;
    font-size: 600%;
    font-family: Tahoma;
    color: #fff;
    text-align: center;

    opacity: 0;
  }

.smallBalls /* ul */
{
  position: absolute;
  bottom:  10vh;
  left:  10vh;
  transform: rotate(180deg);
}

  .smallBalls li
  {
    transform: rotate(-180deg);
    display:inline-block;
    border-radius: 50%;
    text-align: center;
    background: #61329e;
    color: #fff;
    width: 10vh;
    height: 10vh;
    line-height: 10vh;
    margin-left: 10px;
  }

.ballsContainer .buttons
{
  position: absolute;
  bottom: 10vh;
  right: 10vh;
}

#stopBall
{
  position: absolute;
  top: 5%;
  right: 10px;
}
