.scoreSection
{
  display: none;
}

.scoreSection h3
{
  text-align: center;
  font-size: 150%;
  color: #fff;
  letter-spacing: 4px;
  margin-top: 40px;
}

.playerScore /* ul */
{
  display: block;
  width: 90%;
  font-size: 80%;
  max-width: 540px;
  margin: 5vh auto 0 auto;
  background: hsl(300,50%,50%);
  border-radius: 5px;
}

  .playerScore li
  {
    text-align: center;
    padding: 2vh;
    color: #fff;
    font-size: 200%;
    letter-spacing: 2px;
  }
