.welcomeMsg
{
	color: #fff;
	text-align: center;
	padding-bottom: 15px;
}

/*-------*/

.theGameSection
{
	display: none;
}

.bingoStatusMsg
{
	display: none;
	position: absolute;
	top: 15%;
	left: 5%;
	width: 90%;
	height: 70%;
	background: #272D33;
	border-radius: 10px;
	color: #fff;
	text-align: center;
	font-variant: small-caps;
	z-index: 100;
}

	.bingoStatusMsg .bigText
	{
		margin: 8% 0 5% 0;
		font-size: 10vh;
	}

	.bingoStatusMsg .smallText
	{
		font-size: 5vh;
		font-variant: normal;
	}



#bingoButton
{
	position: absolute;
	top: 7%;
	padding: 10px 30px;
	color: #333;
	font-size: 200%;
	background: #FFF;
	font-family: tahoma;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 6px;
	border: none;
	border-radius: 5px;
}

	.bingoButtonActive
	{
		background: hsl(300,50%,50%)!important;
    color: #fff!important;
    outline: none;
    box-shadow: 0 6px 0 hsl(300,50%,30%);
    -webkit-animation: xxx 1s infinite;
	}

/*----*/

@keyframes xxx
{
		0%
		{

		}
		25%
		{
			top: 7.5%;
			box-shadow: 0 3px 0 hsl(300,50%,30%);
		}
		50%
		{

		}
		100%
		{
			box-shadow: 0 6px 0 hsl(300,50%,30%);
		}
}
