.joinGame
{
  display: block;
  /*transform: translateX(0vw);*/
  font-family: tahoma;
}

.joinGame input
{
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 300px;
  background: #eee;
  border: none;
  color: #333;
  font-size:  150%;
  font-family: inherit;
  border-radius: 3px;
}

.joinGame button
{
  display: block;
  margin: 20px auto;
  padding: 15px 0;
  width: 300px;
  text-align: center;
  background: #643f93;
  color: #fff;
  border: none;
  border-bottom: 4px solid #501f73;
  border-radius: 3px;
  font-size:  125%;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;

  transition: background .2s;
}
  .joinGame button:hover
  {
    background: #744fa3;
  }
