.signedIn
{
  margin: 50% auto;

  display: none;
  text-align: center;
}

.signedIn .bingoBalls
{
  margin-bottom: 30px;

}

  .signedIn .bingoBalls li
  {
    display:none;
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
    line-height: 7vh;
    margin-left: 10px;
    color: #fff;
    text-align: center;
    font-size: 200%;
  }

.signedIn .progressBar
{
    display: inline-block;

}

  .signedIn .progressBar .bar
  {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 10px;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  .signedIn .progressBar .bar .innerBar
  {
    text-align: left!important;
    display: block;
    width: 0px;
    height: 10px;
    background: hsl(300,50%,50%);
    border-radius: 5px;
  }

  .signedIn .progressBar .label
  {
    color: #fff;
  }

.loginSuccessMsg
{
  margin-top: 20px;
  display: none;
  text-align: center;
  font-size: 150%;
  color: #fff;

}
