/*
	AUTHOR: 	Henrik Oddløkken

							T A B L E   OF   C O N T E N T S



*/

/*---------------------------------------------------------------------------*/
/*
	Tha Grid!
*/
.ticket
{
	position: absolute;
	padding: 10px;
	background: #aaa;
	border: 1px solid #aaa;
	left: 35vw;
	top: 10vh;
	column-count: 5;
	width: 50vh;
	-webkit-column-gap: 0px;

	-webkit-user-select: none; /* Chrome, Opera, Safari */
 -moz-user-select: none; /* Firefox 2+ */
 -ms-user-select: none; /* IE 10+ */
 user-select: none; /* Standard syntax */
}

	.ticket li
	{
		width: 10vh;
		height: 10vh;
		line-height: 10vh;
		color: #111;
		background: #fff;
		font-size: 200%;
		text-align: center;
		border: 1px solid #000;
		border-top: 0px solid #000;
		border-color: inherit;
	}

		.ticket li.letter
		{
			color: #fff;
			font-family: tahoma;
			text-shadow: 1px 1px #000;
			font-size: 200%!important;
			font-weight: 900;
			border: 1px solid #000;
			border-top: 0px solid #000;
			border-color: inherit;
		}

			.checked 			 													/* Highlight checked numbers */
			{
				background: #333 !important;
				color: #fff !important;

			}

			.greenTile
			{
				background: #666 !important;
			}
